body{
    background-color: rgb(190, 165, 165);
}
.container {
    width: 650px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 800px;
    background-color: rgb(56,55,55);
    border-radius: 15px;
    -webkit-box-shadow: 10px 9px 18px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 9px 18px 1px rgba(0,0,0,0.64);
    box-shadow: 10px 9px 18px 1px rgba(0,0,0,0.64);

}

.display-portal {
    width: 450px;
    height: 200px;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 70px;
}

.numbers-portal {
    width: 450px;
    height: 550px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.colone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: fl;
    width: 350px;
    gap: 10px;
}

.coltwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

button {
    background-color: rgb(71, 70, 70);
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 5px;
    color: white;
    -webkit-box-shadow: -8px -7px 5px -9px rgba(255,255,255,1);
    -moz-box-shadow: -8px -7px 5px -9px rgba(255,255,255,1);
    box-shadow: -8px -7px 5px -9px rgba(255,255,255,1);
    
}

button[value] {
    font-size: 30px;
}

button:hover{
    background-color: rgb(56, 56, 56);
}

button.operator {
    width: 75px;    
    height: 75px;
    background-color: rgb(71, 70, 70);    
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

button.operator:hover {
    background-color: rgb(56, 56, 56);
}

button.operator.equal {
    background-color: orange;
}

button.operator.equal:hover {
    background-color: rgb(218, 142, 2);
}

button.operator.del {
    background-color: red;
}

button.operator.del:hover {
    background-color: rgb(219, 2, 2);
}

.active {
    -webkit-box-shadow: inset -8px -7px 5px -9px rgba(255,255,255,1);
        -moz-box-shadow: inset -8px -7px 5px -9px rgba(255,255,255,1);
        box-shadow: inset -8px -7px 5px -9px rgba(255,255,255,1);
}